<div class="stepsdemo-content mt-4">
  <p-card>
    <ng-template pTemplate="title"> XRAY Requisition</ng-template>
    <ng-template pTemplate="subtitle"> XRAY Requisition </ng-template>
    <ng-template pTemplate="content">
      <form>
        <div class="p-fluid formgrid grid">
          <div class="field col-12 md:col-4">
            <label for="lmp">LMP<span style="color: red">*</span></label>
            <p-calendar inputId="icon" id="lmp"></p-calendar>
          </div>
          </div>
          <div class="p-fluid formgrid grid">
          <div class="field-checkbox col-12 md:col-3">
            <p-checkbox
              name="xrayRequisition"
              value="Chest X-Ray PA"
              [(ngModel)]="xray"
              inputId="xray"></p-checkbox>
            <label for="xray">Chest X-Ray PA</label>
          </div>
          <div class="field-checkbox col-12 md:col-3">
            <p-checkbox
              name="xrayRequisition"
              value="Apicolordotic"
              [(ngModel)]="xray"
              inputId="apicolordotic"></p-checkbox>
            <label for="apicolordotic">Apicolordotic</label>
          </div>
          <div class="field-checkbox col-12 md:col-3">
            <p-checkbox
              name="xrayRequisition"
              value="Others"
              [(ngModel)]="xray"
              inputId="others"></p-checkbox>
            <label for="others">Others</label>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <button class="btn btn-primary" (click)="back()">Back</button>
      <button style="float: right" class="btn btn-primary" (click)="nextPage()">
        Next
      </button>
    </ng-template>
  </p-card>
</div>
