<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="grid p-fluid mb-4">
                    <div class="col-12 md:col-4 mt-4">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText formControlName="username" class="p-inputtext-sm">
                                <label for="float-input">Username</label>
                            </span>
                        </div>
                        <div class="p-inputgroup">
                            <small class="text-danger"
                                *ngIf="(f['username'].touched || submitted) && f['username'].errors?.['required']">
                                User Name is required
                            </small>
                        </div>
                    </div>
                    <div class="col-12 md:col-4 mt-4">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="password" pInputText formControlName="password" class="p-inputtext-sm">
                                <label for="float-input">Password</label>
                            </span>
                        </div>
                        <div class="p-inputgroup">
                            <small class="text-danger"
                                *ngIf="(f['password'].touched || submitted) && f['password'].errors?.['required']">
                                Password Name is required
                            </small>
                        </div>
                    </div>
                    <div class="col-12 md:col-4 mt-4 text-end">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Login
                        </button>
                    </div>                    
                    <div *ngIf="error" class="alert alert-danger mt-2 mb-0">{{error}}</div>
                </div>
            </form>
        </div>
    </div>
</div>