<div class="p-fluid formgrid grid">
  <div class="col-lg-12">
    <div class="card border-0 rounded-lg">
      <div class="card-header justify-content-center bg-white border-0">
        <h3 class="my-2">{{ title }}</h3>
      </div>
    </div>
    <div class="row p-fluid formgrid grid bg-white p-5 rounded-4">
      <div class="col-12 md:col-12">
        <form
          class="mt-4"
          [formGroup]="userForm"
          autocomplete="off"
          (submit)="save()">
          <div class="p-formgrid grid">
            <div class="field col">
              <label htmlFor="firstName"
                >First Name <span style="color: red">*</span></label
              >
              <input
                pInputText
                id="firstName"
                formControlName="firstName"
                type="text"
                [ngClass]="{
                  'ng-dirty': validateControl('firstName')
                }" />
              <small *ngIf="validateControl('firstName')" class="p-error"
                >First Name is required.</small
              >
            </div>
            <div class="field col">
              <label htmlFor="lastName"
                >Last Name <span style="color: red">*</span></label
              >
              <input
                pInputText
                id="lastName"
                formControlName="lastName"
                type="text"
                [ngClass]="{ 'ng-dirty': validateControl('lastName') }" />
              <small *ngIf="validateControl('lastName')" class="p-error"
                >Last Name is required.</small
              >
            </div>
          </div>
          <div class="p-formgrid grid">
            <div class="field col">
              <label htmlFor="email"
                >Email <span style="color: red">*</span></label
              >
              <input
                pInputText
                id="email"
                formControlName="email"
                type="email"
                [ngClass]="{
                  'ng-dirty': validateControl('email')
                }" />
              <small *ngIf="validateControl('email')" class="p-error">
                <span *ngIf="userForm.get('email')?.errors?.['required']"
                  >Email is Required.</span
                >
                <span *ngIf="userForm.get('email')?.errors?.['email']"
                  >Invalid Email Format.</span
                >
              </small>
            </div>
            <div class="field col">
              <label htmlFor="lastName"
                >Role <span style="color: red">*</span></label
              >
              <p-dropdown
                [options]="roles"
                placeholder="Select User Role"
                optionLabel="name"
                [showClear]="true"
                formControlName="role"
                optionValue="name"
                [ngClass]="{
                  'ng-dirty': validateControl('role')
                }"></p-dropdown>
              <small *ngIf="validateControl('role')" class="p-error"
                >Role is required.</small
              >
            </div>
          </div>
          <div class="p-formgrid grid">
            <div class="field col-md-6">
              <label htmlFor="lastName"
                >Branch Designation <span style="color: red">*</span></label
              >
              <p-dropdown
                [options]="branches"
                placeholder="Select Branch"
                optionLabel="name"
                [showClear]="true"
                formControlName="branch"
                optionValue="id"
                [ngClass]="{
                  'ng-dirty': validateControl('branch')
                }"></p-dropdown>
              <small *ngIf="validateControl('branch')" class="p-error"
                >Branch Designation is required.</small
              >
            </div>
          </div>
          <div class="p-formgrid grid">
            <div class="field col">
              <label htmlFor="password"
                >Password <span style="color: red">*</span></label
              >
              <p-password
                id="password"
                formControlName="password"
                [ngClass]="{
                  'ng-dirty': validateControl('password')
                }"
                (onBlur)="changePassword()"></p-password>
              <small *ngIf="validateControl('password')" class="p-error">
                <span *ngIf="userForm.get('password')?.errors?.['required']"
                  >Password is Required</span
                >
                <span *ngIf="userForm.get('password')?.errors?.['pattern']"
                  >Password must contain:
                  <ul>
                    <li>At least one lowercase</li>
                    <li>At least one uppercase</li>
                    <li>At least one numeric</li>
                    <li>Minimum 8 characters</li>
                  </ul>
                </span>
              </small>
            </div>
            <div class="field col">
              <label htmlFor="confirmPassword"
                >Confirm Password <span style="color: red">*</span></label
              >
              <p-password
                id="confirmPassword"
                formControlName="confirmPassword"
                [ngClass]="{ 'ng-dirty': validateControl('confirmPassword') }"
                [feedback]="false"
                (onBlur)="changePassword()"></p-password>
              <small *ngIf="validateControl('confirmPassword')" class="p-error"
                ><span
                  *ngIf="userForm.get('confirmPassword')?.errors?.['required']"
                  >Confirm Password is Required.</span
                >
                <span
                  *ngIf="userForm.get('confirmPassword')?.errors?.['confirmPasswordValidator']"
                  >Passsword and Confirm Password didn't match.</span
                >
              </small>
            </div>
          </div>
          <div class="grid grid-nogutter justify-content-end">
            <p-button
              label="Save"
              (onClick)="save()"
              icon="pi pi-save"
              iconPos="right"
              styleClass="p-button-success"
              [disabled]="userForm.invalid"></p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
