<div class="stepsdemo-content mt-4">
  <p-card>
    <ng-template pTemplate="title"> Laboratory Requisition</ng-template>
    <ng-template pTemplate="subtitle">
      Select Laboratory Requisition
    </ng-template>
    <ng-template pTemplate="content">
      <div class="p-fluid formgrid grid">
        <div
          *ngFor="let choice of items; let i = index"
          class="field-checkbox col-12 md:col-6">
          <p-checkbox
            name="labRequisition"
            [value]="choice.value"
            [inputId]="choice.value"
            [(ngModel)]="labTest">
          </p-checkbox>
          <label [for]="choice.value"> {{ choice.description }}</label>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button class="btn btn-primary" (click)="back()">Back</button>
      <button style="float: right" class="btn btn-primary" (click)="nextPage()">
        Next
      </button>
    </ng-template>
  </p-card>
</div>
