<div class="row">
  <div class="col-lg-12">
    <div class="card border-0 rounded-lg">
      <div class="card-header justify-content-center bg-white border-0">
        <h3 class="my-2">Pending Appointments</h3>
      </div>
    </div>
    <div class="p-fluid formgrid grid card border-0 rounded-lg">
      <div class="field col-12 md:col-12">
        <p-table
          #dt
          dataKey="id"
          [value]="items"
          [loading]="isLoading"
          [paginator]="true"
          [rows]="5"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[5, 10, 25, 50]"
          [globalFilterFields]="[
            'referenceNumber',
            'personalInformation.email',
            'personalInformation.firstName',
            'personalInformation.lastName',
            'appointmentDate'
          ]">
          <ng-template pTemplate="caption">
            <div class="flex">
              <span class="p-input-icon-left ml-auto w-19rem">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="
                    dt.filterGlobal($any($event.target).value, 'contains')
                  "
                  placeholder="Search Keyword" />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>REFERENCE ID</th>
              <th>EMAIL</th>
              <th>FIRST NAME</th>
              <th>LAST NAME</th>
              <th>APPOINTMENT DATE</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{ item.referenceNumber }}</td>
              <td>{{ item.personalInformation.email }}</td>
              <td>{{ item.personalInformation.firstName }}</td>
              <td>{{ item.personalInformation.lastName }}</td>
              <td>
                {{ item.appointmentDate | date: 'dd/MMM/yyyy' }}
                {{ item.appointmentTime.name }}
              </td>
              <td>
                <button
                  pButton
                  pRipple
                  icon="pi pi-check"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="actionClicked(item, 0)"></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-times"
                  class="p-button-rounded p-button-warning"
                  (click)="actionClicked(item, 2)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">No record found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
